* { 
   margin: 0;
   padding: 0; 
}

.banner {
   
    background-image: url("images/background1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    border-bottom: 1px solid lightblue;
    
}


.banner{
  color: #125F9C;
  border-bottom: 1px solid lightblue;


}

.container{
	width: 90%;
	margin: 0 auto;
}

.navbar {
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 60px;
    background: #fff;
    border-bottom: 1px solid lightblue;
}

.logo{
	width: 160px;
	height: 160px;
	float: left;
	display: block;
	margin-top: -42px;

}

.logopartner{ 
width: 80px ;
height: 75px ;
float: center ; 
display: block ;

}

.menu {
	float:right;

}

.menu li{
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;

}

.menu li a{
	color: #125F9C;
	text-decoration: none;
	font-family: calibri;
	text-transform: uppercase;
	display: box;
}

.menu li {
  color: #125F9C
}


.menu li:hover{
	background: #125F9C;
  color: white;

}

.menu li a:hover{
   color: white;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
 
 }

 .round{
border-radius: 100%;

 }

 .column:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.row: {
  content: "";
  clear: both;
  display: table;
}

.img {
	border-radius: 80%
}

.navbar-bottom{
	width: 100%;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-bottom: 2px solid lightblue;
    border-top: 2px solid lightblue;
    display: bottom;
}

.partners{
	float: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    list-style: none;
}

.par{ 
display: block;
text-align: center;
float: left;

}



